[submodule "Assignments/exercise-1_2-terror"]
	path = Assignments/exercise-1_2-terror
	url = https://github.com/JAC-CS-Web-Programming-II-W21/exercise-1_2-terror.git
[submodule "Assignments/assignment-1-terror"]
	path = Assignments/assignment-1-terror
	url = https://github.com/JAC-CS-Web-Programming-II-W21/assignment-1-terror.git
[submodule "Assignments/exercise-2_2-terror"]
	path = Assignments/exercise-2_2-terror
	url = https://github.com/JAC-CS-Web-Programming-II-W21/exercise-2_2-terror.git
[submodule "Assignments/exercise-2_3-terror"]
	path = Assignments/exercise-2_3-terror
	url = https://github.com/JAC-CS-Web-Programming-II-W21/exercise-2_3-terror.git
