{{> Partials/Header }}
    <h1>Homepage!</h1>
    <nav>
        <a href={{ base }}>Home</a>
        <a href={{ path 'pokemon'}}>List All Pokemon</a>
        <a href={{ path 'pokemon/new'}}>Create Pokemon</a>
    </nav>
</body>
{{> Partials/Footer}}